{% extends "checkbook_base.html" %}

{% block title %}Bluebird Banking{% endblock %}
{% block content %}
    <h3>Welcome to BlueBird Banking</h3>
    <hr>
    <div class="text-center">
        <h5>Manage your existing account!</h5>
        <form name="accountForm" method="POST" action="">
            <label for="accounts">Choose Account:</label>
            <select name="accounts" id=""accounts">
            {% for account in accounts %}
                <option value="../{{account.pk }}/balance">{{ account.account_Num }}</option>
            {% endfor %}
            </select>
            <!-- Need to add a method to the onclick so the button works-->
            <button type="button" onclick="top.location.href=accounts.options[accounts.selectedIndex].value;">Go to Account</button>
        </form>
    </div>
    <hr>
    <div class="text-center">
        <h5>Add another account!</h5>
        <!-- Need to add a template to the href so the button works-->
        <a href="{% url 'addAccount' %}"><button type="submit" class="new-account-button">Create Account</button></a>
    </div>
{% endblock %}
